:root {
    --primary-color: #00a3d4;
    --secondary-color: #00466b;
    --background-color: #F4F5F5;
    --font-color: #333;
    --cta-border-color: #fff;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    background-color: var(--background-color);
    color: var(--font-color);
}

header {
    background-color: var(--primary-color);
    padding: 20px;
    display: flex;
    align-items: center;
}

header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    border: 2px solid var(--cta-border-color);
}

header h1 {
    margin: 0;
    color: #fff;
}

nav ul {
    display: flex;
    justify-content: center;
    background-color: var(--secondary-color);
    padding: 10px;
    list-style: none;
    margin: 0;
    gap: 15px;
}

nav li {
    position: relative;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: var(--primary-color);
    border: 2px solid var(--cta-border-color);
    transition: 0.3s ease-in-out;
}

nav a:hover {
    background-color: #fff;
    color: var(--secondary-color);
}

nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--secondary-color);
    padding: 10px 0;
    list-style: none;
    min-width: 150px;
    border-radius: 10px;
    z-index: 10;
}

nav ul li ul li {
    margin: 0;
}

nav ul li ul li a {
    padding: 10px 20px;
    border-radius: 0;
    white-space: nowrap;
}

nav ul li:hover ul {
    display: block;
}

section.hero {
    position: relative;
    text-align: center;
    color: #fff;
    padding: 50px;
}

section.hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.5;
}

section.hero .hero-text {
    position: relative;
}

section.features {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    gap: 20px;
}

.feature {
    background: #fff;
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;
}

.feature h3 a {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.feature h3 a:hover {
    color: var(--primary-color);
    text-decoration: none;
}

footer {
    background-color: var(--secondary-color);
    color: #fff;
    text-align: center;
    padding: 10px;
}
